<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
  </head>
  <body>
    <h2>Contact Form</h2>
    <form
      action="{{url_for('contact_complete')}}"
      method="POST"
      novalidate="novalidate"
    >
      <table>
        <tr>
          <td>User Name</td>
          <td>
            <input
              type="text"
              name="username"
              value="{{username}}"
              placeholder="User Name"
            />
          </td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td>
            <input
              type="text"
              name="email"
              value="{{email}}"
              placeholder="Email Address"
            />
          </td>
        </tr>
        <tr>
          <td>Contact Detail</td>
          <td>
            <textarea
              name="description"
              placeholder="Contact Detail"
            ></textarea>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
